/* GRID HELPERS */
.grid {
  display: grid;
}

/* FLEX HELPERS */

.flex {
  display: flex;
}

.flex.align-center {
  align-items: center;
}

.flex.justify-center {
  justify-content: center;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.row {
  flex-direction: row;
}

@media (max-width: 768px) {
  .flex.row {
    flex-direction: column;
  }
}

/* LIST HELPERS */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
