/* .main-gallery {
  margin-block: 28px;
}
.gallery img {
  margin-block-end: 24px;
  margin-inline-end: 24px;
} */

/* .card-layout .card:first-child {
    padding-top: var(--layout-margin);
} */

.gallery img {
  border-radius: 15px;
}

.gallery img:hover {
  translate: 20px;
  transition: 1s;
  border: 1px solid var(--clrPrimaryBase);
}
